<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>What are the Terms and Conditions?</h1>
      <strong>Last updated: 10/15/18</strong>
      <p>
        Welcome to www.InterGreen.com (“Web Site”). This Web Site is owned and operated by the InterGreen Group (“Company” “InterGreen”) (collectively “we” and “us”). In addition to the Content on the Web Site, the Web Site provides you with various shopping, e-commerce and community services (“Services”). Please read these Terms and Conditions of Use (“Terms”) carefully before using our Web Site and the Services. If you choose to continue to use or access this Web Site after having the opportunity to read these Terms, you recognize that InterGreen has provided valuable consideration by offering this Web Site free of charge, and in exchange for that valuable consideration, you agree to the Terms hereof. If you do not agree to these Terms, please do not use the Web Site and exit immediately.
      </p>
      <p>
        We reserve the right to modify or amend the Terms from time to time without notice. Your continued use of our Web Site following the posting of changes to these terms will mean you accept those changes. Additional terms and conditions may apply to the purchase of products, such as shipping and return policies. By using this Web Site, you agree to such terms and conditions, as well as these Terms and our Privacy Policy (available here) (collectively, the “Agreement”).
      </p>
      <strong>
        THESE TERMS INCLUDE AN AGREEMENT TO SUBMIT CLAIMS EXCLUSIVELY TO INDIVIDUAL (NON-CLASS) ARBITRATION.
      </strong>
    </div>
  </div>
</div>
